<h1 align = "center"> Listing all articles </h1>

<% @articles.each do |article|%>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article)%>
        </div>
         <div class="article-body">
          <%= truncate(article.description, length:80)%>
        </div>
        <div class="article-actions">
        <%if correct_user?(article.user)%>
         <%= link_to "Edit this Article", edit_article_path(article), class:"btn btn-xs btn-primary" %>
         <%= link_to "Delete this Article", article_path(article),
                                            method: :delete, data: {confirm: "Are u sure?"},
                                            class:"btn btn-xs btn-danger" %>
        <%end%>
        </div>
      </div>
    </div>
  </div>`
<%end%>
