<h2 align="center">Title: <%=@article.title%></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
     <%= simple_format(@article.description) %>
<div class="article-actions">
  <% if correct_user?(@article.user)%>
    <%= link_to "Edit this Article", edit_article_path, class:"btn btn-xs btn-primary" %>
    <%= link_to "Delete this Article", article_path(@article),
                                      method: :delete, data: {confirm: "Are u sure?"},
                                      class:"btn btn-xs btn-danger" %>
  <%end%>
  <%= link_to "View all Articles", articles_path, class:"btn btn-xs btn-success" %>
</div>
