<div class:"container">
  <footer class: "footer">
    <small>
      Copyright &copy; <a href="https://prepsocial.herokuapp.com">Prepsocial</a> by Abhinav Garg
    </small>
    <nav>
      <ul>
       <li><%= link_to "About", about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>
