<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation'%>
  <%= render 'layouts/messages'%>
  <div class= "container">
  <%= yield %>
  <%= render 'layouts/footer'%>
  </div>
</body>
</html>
